body{
    background: green;
    text-align: center;
    color: white;
}
button{
    border: none;
    background: goldenrod;
    color: rgb(16, 95, 16);
    width: 150px;
    height: 30px;
    padding: 5px 20px;
    font-weight: bold;
    margin: 10px;
}
#btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}